<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="greenTeaWater" class="com.qianfeng.GreenTeaWater"></bean>

    <bean id="maLeader" class="com.qianfeng.MaLeader">
        <property name="water" ref="greenTeaWater"/>
    </bean>

</beans>